/*
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
*/


#styledImage{
    border: 8px solid gold;
    border-style: groove;
}

/*
.responsive {
  width: 500%;
  height: auto;
}
*/

/*
#box {

    background-color: 1E5792;
    width: 400px;
    height: 440px;
    margin: 10px 30px 50px;
    color: fff;
    padding:25 10px 30px 20px;
    border-style: solid;
    border-width: 22px;
    border-color: #113152;
}
*/
/*
.profile {

    background-color: 1E5792;
    width: 400px;
    height: 440px;
    margin: 10px 30px 50px;
    color: fff;
    padding:25 10px 30px 20px;
    border-style: solid;
    border-width: 22px;
    border-color: #113152;
}

.classItem { background-color: orange; }
*/
/*Extra CSS code*/
/*
  .red {
    color: red
  }
  
  .blue {
    color: blue;
  }
  
  .green {
    color: green;
  }
  
  .big {
    font-size: x-large;
  }
  
  .tiny {
    font-size: x-small;
  }
  
  .centered {
    text-align: center;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .fancyfont {
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .bigorangebold {
    font-size: x-large;
    color: orange;
    font-weight: bold;
  }
  
  .styledFont {
    font-family: "Lucida Console", Courier, monospace;
    color: teal
  }
  
  #styledImage{
    border: 8px solid gold;
    border-style: groove;
  }
*/